Dockerfile*
.git*
venv
__pycache__
runner
results
clang-plugins/build
cbmc/build
.results
.states
.pytest-cache
results
.rand
.out
.ccls-cache
.suo
.old
**/.scannerwork/**
sonar-project.properties
*.swp
*.pyc
.DS_Store
_DS_Store
*.dSYM
*.o
*.so
*.a
*.out
*.log
**/bin/**
**/obj/**
*.cache*
