README.md
Makefile
.dockerignore
.assets
.pylintrc
.ccls
.pytest_cache
.vscode
pytest.ini
tests
output
results
Dockerfile*
.git*
venv
__pycache__
runner
clang-plugins/build
cbmc/build
.results
.states
.pytest-cache
.rand
.out
.ccls-cache
.suo
.old
**/.scannerwork/**
sonar-project.properties
*.swp
*.pyc
.DS_Store
_DS_Store
*.dSYM
*.o
*.so
*.a
*.out
*.log
**/bin/**
**/obj/**
*.cache*
