[submodule "llvm2smt"]
	path = llvm2smt
	url = git@github.com:Kafva/llvm2smt.git
[submodule "cbmc"]
	path = cbmc
	url = https://github.com/diffblue/cbmc.git
[submodule "matrix"]
	path = matrix
	url = ssh://git@kafva.one:44590/srv/git/matrix.git
[submodule "main"]
	path = main
	url = ssh://git@kafva.one:44590/srv/git/main.git
